<%= render 'menu' %>

<%= render 'jumbotron', pagetitle: "Contact", pagejumbo: 'tore1.jpg', bandtitle: "Échangez", bandcontent: "Ci-dessous se trouve un formulaire de contact, aucune de vos informations personnelles ne sera conservée au divulguée.", credits: "Crédits photos: Non renseignés" %>

<main id="main" class="contact">
<h1> Contact </h1>
<% if flash[:success] %>
  <div class="success">
    <%= flash[:success] %>
  </div>
<% elsif flash[:error] %>
  <div class="error">
    <%= flash[:error] %>
  </div>
<% end %>
<%= form_tag contact_path, method: "post" do %>

  <div class="field">
    <p> Prénom: </p>
    <% if @contact.errors[:firstname][0]  %>
      <input name="contact[firstname]" type="text" class="errorBorder">
    <% else %>
      <input name="contact[firstname]" type="text">
    <% end %>
  </div>

  <div class="field">
    <p> Nom*: </p>
    <% if @contact.errors[:lastname][0] %>
      <input name="contact[lastname]" type="text" class="errorBorder">
    <% else %>
      <input name="contact[lastname]" type="text">
    <% end %>
  </div>

  <div class="field">
    <p> Email*: </p>
    <% if @contact.errors[:email][0] %>
      <input name="contact[email]" type="text" class="errorBorder">
    <% else %>
      <input name="contact[email]" type="text">
    <% end %>
  </div>

  <div class="field">
    <p> Sujet*: </p>
    <% if @contact.errors[:subject][0] %>
      <input name="contact[subject]" type="text" class="errorBorder">
    <% else %>
      <input name="contact[subject]" type="text">
    <% end %>
  </div>

  <div class="field text">
    <p> Message*: </p>
    <% if @contact.errors[:message][0] %>
      <textarea name="contact[message]" type="text" class="errorBorder"> </textarea>
    <% else %>
      <textarea name="contact[message]" type="text"> </textarea>
    <% end %>
  </div>

  <input type="submit" value="Envoyer !" title="Envoyer votre demande de contact">
<% end %>
</main>
