<%= render 'menu' %>

<%= render 'jumbotron', pagetitle: "Curriculum Vitae", pagejumbo: 'marscratere.jpg', bandtitle: "Découvrez :", bandcontent: "Ci-dessous ce trouve un échantillon de mes expériences professionel et personels.", credits: "Crédits Photos: Cratère Jumeaux dans Valles Marineris sur la planète Mars, © ESA/DLR/FU Berlin(G.Neukum)" %>

<main class="curriculum" id="main">

  <div class="personalInfos">
    <h1> Identitée </h1>
    <div class="thumb">

      <%= image_tag "yo.JPG"  %>
      <div class="caption">
        <p> Moi devant le IXV, véhicule expérimental de l'ESA, ESTEC 2015.</p>
      </div>
    </div>
    <div class="col">
      <p><span class="cyan">Prénom:</span> Yoan</p>
      <p><span class="cyan">Nom:</span> Dieu</p>
      <p><span class="cyan">Nationalité:</span> Français</p>
    </div>
    <div class="col">
      <p><span class="cyan">Né le:</span> 28 Avril 1986</p>
      <p><span class="cyan">Ville:</span> Montreuil</p>
      <p><span class="cyan">Email:</span> <a href="/contact">yoan.dieu@gmail.com</a></p>
    </div>
  </div>

  <h1>Curriculum</h1>

  <nav id="cv">
    <ul>
      <li id="formationsBtn" title="Voir mes formations"> Formations </li>
      <li id="experiencesBtn" title="Voir mes expériences"> Expériences </li>
      <li id="activitesBtn" title="Voir mes activités"> Activités </li>
    </ul>
  </nav>


  <div class="cvWarper" id="cvWarper">
    <div class="cvFormations" id="formations">
      <h2> Formations : </h2>
      <ul>
        <% @formations.each do |formation| %>
        <li>
          <article>
          <h4> <%= formation.startdate %> / <%= formation.enddate %> </h4>
          <h3> <%= formation.name %> </h3>
          <h4> <%= formation.institution %> <a href="http://<%= formation.url %>"  title="Aller sur le site de <%= formation.institution %>"> <i class="fa fa-eye"></i> </a> </h4>
          <p> <%= formation.skills %> </p>
          <p> <%= formation.certificate %> </p>
          </article>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="cvExperiences" id="experiences">
      <h2> Expériences :</h2>
      <ul>
        <% @experiences.each do |experience| %>
          <li>
            <article>
              <h4> <%= experience.startdate %> / <%= experience.enddate %> </h4>
              <h3> <%= experience.position %> </h3>
              <h4> <%= experience.company %> (<%= experience.location %>) <a href="http://<%= experience.url %>"> <i class="fa fa-eye"></i> </a></h4>
              <p> <%= experience.duties %> </p>

            </article>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="cvActivites" id="activites">
      <h2> Activités : </h2>
      <ul>
        <% @activities.each do |activity| %>
        <li>
          <article>
            <h3> <%= activity.title %> </h3>
            <h4> <%= activity.kind %> <a href="http://<%= activity.url %>"> <i class="fa fa-eye"></i> </a></h4>
            <p> <%= activity.institution %> </p>
            <p> <%= activity.description %> </p>
          </article>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <script type="text/javascript" src="cv.js"></script>
</main>
