<%= render 'menu' %>

<%= render 'jumbotron', pagetitle: "Curriculum Vitae", pagejumbo: 'tore1.jpg', bandtitle: false, bandcontent: false %>

<main class="curriculum" id="main">

  <h1>Curriculum</h1>

  <nav id="cv">
    <ul>
      <li id="formationsBtn"> Formations </li>
      <li id="experiencesBtn"> Expériences </li>
      <li id="activitesBtn"> Activités </li>
    </ul>
  </nav>


  <div class="cvWarper" id="cvWarper">
    <div class="cvFormations" id="formations">
      <h2> Formations : </h2>
      <ul>
        <% @formations.each do |formation| %>
        <li>
          <article>
          <h4> <%= formation.startdate %> / <%= formation.enddate %> </h4>
          <h3> <%= formation.name %> </h3>
          <h4> <%= formation.institution %> </h4>
          <p> <%= formation.skills %> </p>
          <p> <%= formation.certificate %> </p>
          <a href="<%= formation.url %>"> <i class="fa fa-link"></i> </a>
          </article>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="cvExperiences" id="experiences">
      <h2> Expériences :</h2>
      <ul>
        <% @experiences.each do |experience| %>
          <li>
            <article>
              <h4> <%= experience.startdate %> / <%= experience.enddate %> </h4>
              <h3> <%= experience.position %> </h3>
              <h4> <%= experience.company %> (<%= experience.location %>)</h4>
              <p> <%= experience.duties %> </p>
              <a href="<%= experience.url %>"> <i class="fa fa-link"></i> </a>
            </article>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="cvActivites" id="activites">
      <h2> Activités : </h2>
      <ul>
        <% @activities.each do |activity| %>
        <li>
          <article>
            <h3> <%= activity.title %> </h3>
            <h4> <%= activity.kind %> </h4>
            <p> <%= activity.institution %> </p>
            <p> <%= activity.description %> </p>
            <a href="<%= activity.url %>"> <i class="fa fa-link"></i> </a>
          </article>
        </li>
        <% end %>
    </ul>
    </div>
  </div>
  <script type="text/javascript" src="cv.js"></script>
</main>
