<%= render 'menu' %>

<%= render 'jumbotron', pagetitle: "Curriculum Vitae" %>

<main class="curriculum">

  <h1>Curiculum</h1>


  <div class="cvWarper">
    <div class="cvFormations"
      <h2> Formations : </h2>
      <ul>
        <% @formations.each do |formation| %>
        <li>
          <article>
          <h1> <%= formation.name %> </h1>
          </article>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="cvExperiences">
      <h2> Expériences : </h2>
      <ul>
        <% @experiences.each do |experience| %>
          <li>
            <article>
          <h1> <%= experience.position %> </h1>
            </article>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="cvActivites">
      <h2> Activités : </h2>
      <ul>
        <% @activities.each do |activity| %>
        <li>
          <article>
          <h1> <%= activity.title %> </h1>
          </article>
        </li>
        <% end %>
    </ul>
    </div>
  </div>

</main>
