<%= render 'menu' %>

<%= render 'jumbotron', pagetitle: "Accueil" %>

<main id="main">
  <div class="container">
    <article class="aPropos">
      <h1> <%= @project.title %> </h1>
      <div class="thumb">
      <img src="assets/<%= @project.thumb %>">
      </div>
      <p><%= @project.description %></p>
      <div class="source">
        <p>Yoan, <span> <%= @project.created_at.strftime("%d %b, %Y") %></span></p>
      </div>
    </article>
  </div>
</main>
