<%= render 'menu' %>

<%= render 'jumbotron', pagetitle: "projets", pagejumbo: 'mars.jpeg', bandtitle: "Explorez !", bandcontent: "Ci dessous ce trouve une liste des projets auquels j'ai participé ainsi que leur détail. Cliquez sur <i class='fa fa-info-circle'></i> pour en savoir plus sur un projet en particulier !", credits: false %>

<main class="projects" id="main">

  <h1> Projets </h1>

  <ul>
  <% @projects.each do |project| %>
      <li>
        <article>
          <h1> <%= project.title %> </h1>

          <div class="thumb">
            <img src="assets/<%=project.thumb%>">
          </div>
          <div class="technos">
            <% project.technologies.each do |tech|%>
            <img src="assets/<%= tech.logo %>">
            <% end %>
          </div>
          <p>Description: <%= project.description[0..140] %>... </p>

          <div class="intel">
            <div class="social">
              <div class="iconContainer">
                <a href="<%= project.github %>"><i class="fa fa-github"></i></a>
              </div>
              <div class="iconContainer">
                <a href="<%= project.twitter %>"><i class="fa fa-twitter"></i></a>
              </div>
              <div class="iconContainer">
                <a href="/project/<%= project.id %>"><i class="fa fa-info-circle"></i></a>
              </div>
              <div class="iconContainer">
                <a href="<%= project.url %>"><i class="fa fa-eye"></i></a>
              </div>
            </div>
            <div class="label">
              <p> <%= project.created_at.strftime("%d %b, %Y") %> By Yoan </p>
            </div>
          </div>
        </article>
      </li>
  <% end %>
  </ul>

</main>
