<%= render 'menu' %>

<%= render 'jumbotron' %>

<main class="projects">

  <h1> Projets </h1>

  <ul>
  <% @projects.each do |project| %>
  <li>
    <article>
      <h1> <%= project.title %> </h1>
      <div class="thumb">
        <img src="assets/<%=project.thumb%>">
      </div>
      <p> <%= project.description %> </p>
      <div class="intel">
        <div class="social">
          <div class="iconContainer">
            <a href="<%= project.github %>"><i class="fa fa-github"></i></a>
          </div>
          <div class="iconContainer">
            <a href="<%= project.twitter %>"><i class="fa fa-twitter"></i></a>
          </div>
          <div class="iconContainer">
            <a href="<%= project.url %>"><i class="fa fa-link"></i></a>
          </div>
        </div>
        <div class="label">
          <p> <%= project.created_at.strftime("%d %b, %Y") %> By Yoan </p>
        </div>
      </div>

    </article>
  </li>
  <% end %>
  </ul>

</main>
