<%= render 'menu' %>

<main class="projects">

  <h1> Projets </h1>

  <ul>
  <% @projects.each do |project| %>
  <li>
    <article>
      <h1> <%= project.title %> </h1>
      <img src="assets/<%=project.thumb%>">
      <p> <%= project.description %> </p>
      <div class="social">
        <a href="<%= project.github %>"><i class="fa fa-github"></i></a>
        <a href="<%= project.twitter %>"><i class="fa fa-twitter"></i></a>
        <a href="<%= project.url %>"><i class="fa fa-link"></i></a>
      </div>
      <div class="label">
        <p> <%= project.created_at.strftime("%d %b, %Y") %> By Yoan </p>
      </div>

    </article>
  </li>
  <% end %>
  </ul>

</main>
