<%= render 'menu' %>

<%= render 'jumbotron', pagetitle: "projets", pagejumbo: 'mars.jpeg', bandtitle: "Explorez !", bandcontent: "Ci-dessous se trouve une liste des projets auquels j'ai participé ainsi que leurs détails. Cliquez sur <i class='fa fa-info-circle'></i> pour en savoir plus sur un projet en particulier !", credits: "Crédits photos: Non renseigné" %>

<main class="projects" id="main">

  <h1> Projets </h1>

  <ul>
  <% @projects.each do |project| %>
      <li>
        <article>
          <h1> <%= project.title %> </h1>

          <a href="project/<%= project.id %>" title="Plus d'infos" class="showproject">
            <div class="thumb">
              <img src="<%=project.cover%>">
            </div>
          </a>
          <div class="technos">
            <% project.technologies.each do |tech|%>
            <%= image_tag "#{tech.logo}" %>
            <% end %>
          </div>
          <p>Description: <%= project.resume %>... </p>

          <div class="intel">
            <div class="social">
              <div class="iconContainer">
                <%= link_to("#{project.github}", html_options = {title: "Voir le repo Github"}) do %> <i class='fa fa-github'></i><% end %>
              </div>
              <div class="iconContainer">
                <%= link_to("#{project.twitter}", html_options = {title: "Voir sur Twitter"}) do %> <i class="fa fa-twitter"></i><% end %>
              </div>
              <div class="iconContainer">
                <%= link_to("#{project.id}", html_options = {title: "Plus d'infos"}) do %> <i class="fa fa-info-circle"></i><% end %>
              </div>
            </div>
            <div class="label">
              <p> <%= project.created_at.strftime("%d %b, %Y") %> By Yoan </p>
            </div>
          </div>
        </article>
      </li>
  <% end %>
  </ul>

</main>
