<h1> Projets </h1>

<%= @projects.each do |project| %>
<artcile class="projet">
  <h1> <%= project.title %> </h1>
  <img style="width:500px; height:300px" src="assets/<%=project.thumb%>">
  <p> <%= project.description %> </p>
  <div class="social">
    <a href="<%= project.github %>"><i class="fa fa-github"></i></a>
    <a href="<%= project.twitter %>"><i class="fa fa-twitter"></i></a>
    <a href="<%= project.url %>"><i class="fa fa-link"></i></a>
  </div>
  <div class="label">
    <p> <%= project.created_at.strftime("%d %b, %Y") %> By Yoan </p>
  </div>

</article>
<% end %>
