<%= render 'menu' %>

<%= render 'jumbotron', pagetitle: @project.title, pagejumbo: @project.cover, bandtitle: "Résumé:", bandcontent: @project.resume, credits: false %>

<main class="showprojects" id="main">
  <h1> Présentation </h1>


  <article>
    <div class="time">
      <h2><%= @project.startdate %></h2>
      <i class="fa fa-long-arrow-right"></i>
      <h2><%= @project.enddate %></h2>
    </div>

    <h1> <%= @project.title %> </h1>
    <div class="thumb">
      <%= image_tag "#{@project.cover}" %>
    </div>

    <div class="intel">
      <div class="technos">
        <% @project.technologies.each do |tech|%>
          <p><%= tech.name %> <%= image_tag "#{tech.logo}" %> </p>
        <% end %>
      </div>
      <div class="links">
        <i class="fa fa-github"></i> <p> Voir sur Github: <span><%= @project.github %></span></p>
        <i class="fa fa-twitter"></i> <p> Voir sur twitter: <span><%= @project.twitter %></span></p>
        <i class="fa fa-link"></i> <p> Voir sur le web: <span><%= @project.url %></span></p>
      </div>

    </div>

    <p>Description: <%= @project.description.html_safe %></p>

    <p> Dernière modification le: <%= @project.updated_at.strftime("%C %b %Y à %H:%m") %></p>
  </article>
</main>
