<%= render 'menu' %>

<%= render 'jumbotron', pagetitle: @project.title, pagejumbo: @project.cover, bandtitle: "Résumé:", bandcontent: @project.resume, credits: false %>

<main class="showprojects" id="main">
  <h1> Présentation </h1>


  <article>
    <div class="time">
      <h2><%= @project.startdate %></h2>
      <i class="fa fa-long-arrow-right"></i>
      <h2><%= @project.enddate %></h2>
    </div>

    <h1> <%= @project.title %> </h1>

    <div class="thumb">
      <%= image_tag "#{@project.cover}" %>
    </div>

    <p><span>Description:</span> <%= @project.description.html_safe %></p>

    <div class="intel">
      <div class="technos">
        <% @project.technologies.each do |tech|%>
          <p><%= tech.name %> <%= image_tag "#{tech.logo}" %> </p>
        <% end %>
      </div>
      <div class="links">
        <%= link_to("#{@project.github}", html_options = {title: "Voir le repo Github"}) do %> <i class='fa fa-github'></i><% end %> <p> Voir sur Github: <% if @project.github.length > 0 %><span><%= @project.github %></span> <% end %></p>
        <%= link_to("#{@project.twitter}", html_options = {title: "Voir le compte twitter"}) do %> <i class="fa fa-twitter"></i><% end %> <p> Voir sur twitter: <% if @project.twitter.length > 0 %><span><%= @project.twitter %></span><% end %></p>
        <%= link_to("#{@project.url}", html_options = {title: "Voir le site"}) do %> <i class="fa fa-link"></i><% end %>  <p> Voir sur le web: <% if @project.url.length > 0 %><span><%= @project.url %></span><% end %></p>
      </div>

    </div>



    <p> Dernière modification le: <%= @project.updated_at.strftime("%C %b %Y à %H:%m") %></p>
  </article>
</main>
