<h1> Quelqu'un essaie de vous contacter depuis yoandieu.com</h1>

<p> Prénom: <%= @contact.firstname %> </p>
<p> Nom: <%= @contact.lastname %> </p>
<p> Email: <%= @contact.email %> </p>
<p> Sujet: <%= @contact.subject %> </p>
<p> Message: <%= @contact.message %> </p>
